<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/style.css"/>
        <link rel="icon" type="image/svg+xml" href="/public/logo.svg">
        <link href="https://unpkg.com/@primer/css@^16.0.0/dist/primer.css" rel="stylesheet" />
    </head>
    <body>
      {{#if success}}
<div class="flash flash-success f4">
  <!-- <%= octicon "shield-check" %> -->
  <svg class="octicon octicon-shield-check v-align-bottom" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">  <path fill-rule="evenodd" clip-rule="evenodd" d="M11.9275 3.55567C11.9748 3.54134 12.0252 3.54134 12.0725 3.55567L19.3225 5.75264C19.4292 5.78497 19.5 5.88157 19.5 5.99039V11C19.5 13.4031 18.7773 15.3203 17.5164 16.847C16.246 18.3853 14.3925 19.5706 12.0703 20.4278C12.0253 20.4444 11.9746 20.4444 11.9297 20.4278C9.60747 19.5706 7.75398 18.3853 6.48358 16.847C5.2227 15.3203 4.5 13.4031 4.5 11L4.5 5.9904C4.5 5.88158 4.57082 5.78496 4.6775 5.75264L11.9275 3.55567ZM12.5075 2.12013C12.1766 2.01985 11.8234 2.01985 11.4925 2.12013L4.24249 4.3171C3.50587 4.54032 3 5.21807 3 5.9904L3 11C3 13.7306 3.83104 15.9908 5.32701 17.8022C6.81347 19.6021 8.91996 20.9157 11.4102 21.835C11.7904 21.9753 12.2095 21.9753 12.5897 21.835C15.08 20.9157 17.1865 19.6021 18.673 17.8022C20.169 15.9908 21 13.7306 21 11V5.99039C21 5.21804 20.4941 4.54031 19.7575 4.3171L12.5075 2.12013ZM16.2803 9.78033C16.5732 9.48744 16.5732 9.01256 16.2803 8.71967C15.9874 8.42678 15.5126 8.42678 15.2197 8.71967L11 12.9393L9.28033 11.2197C8.98744 10.9268 8.51256 10.9268 8.21967 11.2197C7.92678 11.5126 7.92678 11.9874 8.21967 12.2803L10.4697 14.5303C10.7626 14.8232 11.2374 14.8232 11.5303 14.5303L16.2803 9.78033Z"></path></svg>
{{success}}
</div>
{{/if}}
        <div class="relative">
	        <div class="bannerGrid">
                <div class="bannerGridItem">
                    {{#if data.user}}
                        <a href="/homepage/{{data.user.username}}">
                    {{else}}
                        <a href="/homepage">
                    {{/if}}
                        <svg  width="100" height="100">
                            <circle cx="50" cy="50" r="40" stroke="black" stroke-width="1" fill="white" />
                            <line x1="50" y1="10" x2="50" y2="90" stroke="black" stroke-width="1"/>
                            <line x1="50" y1="10" x2="50" y2="90" stroke="black" stroke-width="1"/>
                            <line x1="10" y1="50" x2="90" y2="50" stroke="black" stroke-width="1"/>
                            <text x="28" y="41" fill="black" font-family="Arial, Helvetica, sans-serif">D</text>
                            <text x="60" y="41" fill="black" font-family="Arial, Helvetica, sans-serif">Q</text>
                            <text x="28" y="71" fill="black" font-family="Arial, Helvetica, sans-serif">E</text>
                            <text x="60" y="71" fill="black" font-family="Arial, Helvetica, sans-serif">C</text>
                            Sorry, your browser does not support inline SVG.
                        </svg>
                    </a>
                </div>
                <div class="bannerGridItem">
                    <span>
                        <form action="/items" method="GET">
                            {{#if data.user.username}}
                                <input name={{data.user.username}} hidden/>
                            {{/if}}
                            <input type="submit" class="mainCategoryButton" value="All"/>
                        </form> 
                    </span>
                    <span>
                        <form action="/category/jewelry" method="GET">
                            {{#if data.user.username}}
                                <input name={{data.user.username}} hidden/>
                            {{/if}}
                            <input type="submit" class="mainCategoryButton" value="Jewelry"/>
                        </form> 
                    </span>
                    <span>
                        <form action="/category/man-clothing" method="GET">
                            {{#if data.user.username}}
                                <input name={{data.user.username}} hidden/>
                            {{/if}}
                            <input type="submit" class="mainCategoryButton" value="Men's Clothing"/>
                        </form>
                    </span>
                    <span>
                        <form action="/category/woman-clothing" method="GET">
                            {{#if data.user.username}}
                                <input name={{data.user.username}} hidden/>
                            {{/if}}
                            <input type="submit" class="mainCategoryButton" value="Women's Clothing"/>
                        </form>
                    </span>
                    <span>
                        <form action="/category/electronics" method="GET">
                            {{#if data.user.username}}
                                <input name={{data.user.username}} hidden/>
                            {{/if}}
                            <input type="submit" class="mainCategoryButton" value="Electronics"/>
                        </form>
                    </span>
                </div>
                <div class="bannerGridItem">
                    <span>
                        {{#if data.user}}
                            <a href="/users/{{data.user.username}}/cart">
                                <div id="Icon_feather-shopping-cart_zo">
                                    <svg class="Path_1_zp" viewBox="12 30 3 3">
                                        <path id="Path_1_zp" d="
                                            M 15 31.5 
                                            C 15 32.32842636108398 
                                            14.3284273147583 33 13.5 33 
                                            C 12.6715726852417 33 12 32.32842636108398 12 31.5 
                                            C 12 30.67157363891602 12.6715726852417 30 13.5 30 
                                            C 14.3284273147583 30 15 30.67157363891602 15 31.5 Z">
                                        </path>
                                    </svg>
                                    <svg class="Path_2_zq" viewBox="28.5 30 3 3">
                                        <path id="Path_2_zq" d="
                                            M 31.5 31.5 
                                            C 31.5 32.32842636108398 30.82842636108398 33 30 33 
                                            C 29.17157363891602 33 28.5 32.32842636108398 28.5 31.5 
                                            C 28.5 30.67157363891602 29.17157363891602 30 30 30 
                                            C 30.82842636108398 30 31.5 30.67157363891602 31.5 31.5 Z">
                                        </path>
                                    </svg>
                                    <svg class="Path_3_zr" viewBox="1.5 1.5 68.352 36.001">
                                        {{#when data.items.length 'gt' 0}}
                                            <circle cx="45" cy="-5" r="15" fill="#62DB69" stroke="black" stroke-width="1"/>
                                            <text x="40" y="0" fill="black" font-size="20px" font-family="Arial, Helvetica, sans-serif">{{data.items.length}}</text>
                                        {{/when}}
                                        <path id="Path_3_zr" d="
                                            M 1.5 1.5 
                                            L 13.92766761779785 1.5 
                                            L 22.25420570373535 33.63570022583008 
                                            C 22.84059524536133 35.91623687744141 25.45862770080566 37.54421615600586 28.46803855895996 37.49966430664062 
                                            L 58.66726684570312 37.49966430664062 
                                            C 61.67667770385742 37.54421615600586 64.29470825195312 35.91623306274414 64.88109588623047 33.63570022583008 
                                            L 69.85216522216797 13.49988842010498 
                                            L 17.03458404541016 13.49988842010498">
                                        </path>
                                    </svg> 
                                </div>
                            </a>
                        {{/if}}
                            
                    </span>
                    <span>
                        {{#if data.user}}
                            <a href="/users/{{data.user.username}}">
                                <svg height="100" width="100">
                                    <defs>
                                        <clipPath id="cut-off-bottom">
                                            <circle cx="50" cy="50" r="50" 
                                            style="stroke=black; stroke-width=3; fill=#4545a9"/>
                                        </clipPath>
                                    </defs>
                                    <rect width="300" height="100" 
                                        style="fill:#8490b3" 
                                        clip-path="url(#cut-off-bottom)"/>
                                    <ellipse cx="50" cy="100" rx="45" ry="45"
                                        style="fill:#c9c9c9;" 
                                        clip-path="url(#cut-off-bottom)"/>
                                    <ellipse cx="50" cy="32" rx="25" ry="30"
                                        style="fill:#c9c9c9; stroke:#8490b3; stroke-width:5" 
                                        clip-path="url(#cut-off-bottom)"/>
                                </svg>
                            </a>
                        {{else}}
                            <form style="background-color: transparent;" action="/create-account" method="GET">
                                <input class="submitButton" type="submit" value="Log In | Sign Up"/>
                            </form>
                        {{/if}}
                    </span>
                </div>
		    </div>
	    </div>
        <div style="padding-bottom: 100px;">

        </div>
        <div>
            {{{body}}}
        </div>
    </body>
</html>
