<section>
  <div class="cartGrid">
    <div class="cartGridItem">
      <div class="cartScroll">
        <div class="cartScrollGrid">
          {{#each data.items}}
            <div class="cartScrollGridItem">
              <img class="allItemsImage" src="{{this.image}}"/>
            </div>
            <div class="cartScrollGridItem">
              <div style="font-family: Arial, Helvetica, sans-serif; font-size:large;">
                <span style="float: left;">
                  {{this.title}}
                </span>
                <span style="float: right;">
                  ${{this.price}}
                </span>
              </div>
              <div>
                <form action="/users/{{../data.user.username}}/delete-item-cart" method="POST"/>
                  <input type="submit" class="submitButton" value="Remove From Cart">
                  <input type="hidden" value="{{this.id}}" name="itemID" />
                </form>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
    <div class="cartGridItem">
      <div class="cartTotalText">
        <span style="float: left; margin-left: 20%">
          Cart Total:
        </span>
        <span style="float: right; margin-right: 20%">
          ${{data.cart.totalPrice}}
        </span>
      </div>
      <div style="margin-top: 10%; text-align: center;">
        <input type="button" class="submitButton" value="Checkout"/>
      </div>
    </div> 
  </div>
</section>
