{{!-- <input name={{data.user.username}} hidden/> --}}
<section>
	<div class="absolute">
		<svg style="width:100%;height:100%;" viewBox="0 0 1920 1920" preserveAspectRatio="none">
				<path d="
						M -50 -100 
						l 2000 300 
						l 300 1100 
						l -2150 -300 
						l 0 0 Z" style="fill: rgba(188,171,221,1)">
				</path>
		</svg>
	</div>
<section>
	<div class="relative">
		<div class="popularItemsText" style="text-align: center; margin-bottom: -40px;">
				On Sale Now
			</div>
		<div class="homepageGrid">
			<div class="slideshowPlaceholder">
				<div class="container">
					<a href="/items">
						<div class="wrapper">
								{{#each data.allItems}}
									<img src="{{this.image}}">
								{{/each}}
						</div>
					</a>
				</div>
			</div>
			<div class="popularItemsText">
				Popular Items
			</div>
			{{#each data.allItems}}
    		<div class="homepageGridItem">
					{{#if ../data.user}}
						<a href="/users/{{../data.user.username}}/items/{{this.id}}">
					{{else}}
						<a href="/items/{{this.id}}">
					{{/if}}
						<svg class="Subtraction_2_v" viewBox="0 0 150 115">
							<defs>
								<clipPath id="circleView">
									<path id="Subtraction_2_v" d="M 139.0749053955078 115.0007095336914 L 139.0751953125 115.0002212524414 L 10.92506885528564 115.0002212524414 C 7.416469097137451 109.1973495483398 4.704414844512939 102.9508895874023 2.863414764404297 96.433837890625 C 0.9633966088294983 89.70790863037109 1.476273973821662e-05 82.71776580810547 1.476273973821662e-05 75.65760040283203 C 1.476273973821662e-05 65.44398498535156 1.983014822006226 55.53583908081055 5.893923759460449 46.20836639404297 C 7.773651123046875 41.72529220581055 10.10017871856689 37.40142059326172 12.80890560150146 33.35681915283203 C 15.4919605255127 29.35058403015137 18.57321548461914 25.58332824707031 21.96710586547852 22.15969276428223 C 25.36099624633789 18.73601913452148 29.09550476074219 15.62774753570557 33.06688690185547 12.92120170593262 C 37.0763053894043 10.18871116638184 41.36257934570312 7.84178352355957 45.8066520690918 5.945583343505859 C 55.052978515625 2.000383615493774 64.87492370605469 1.682905690358893e-06 74.99968719482422 1.682905690358893e-06 C 85.12467193603516 1.682905690358893e-06 94.94681549072266 2.000383615493774 104.1933059692383 5.945583343505859 C 108.6374130249023 7.84178352355957 112.9237442016602 10.18871116638184 116.9332122802734 12.92120170593262 C 120.9046325683594 15.62774753570557 124.6391754150391 18.73601913452148 128.0331115722656 22.15969276428223 C 131.4270477294922 25.58336448669434 134.5083465576172 29.35063743591309 137.1913757324219 33.35681915283203 C 139.9001312255859 37.40143966674805 142.2266693115234 41.72531127929688 144.1063995361328 46.20836639404297 C 148.0173187255859 55.53583908081055 150.0003204345703 65.44400024414062 150.0003204345703 75.65760040283203 C 150.0003204345703 82.71775054931641 149.0369262695312 89.70789337158203 147.1369018554688 96.433837890625 C 145.2957000732422 102.9514770507812 142.5833587646484 109.198112487793 139.0751953125 115.0002212524414 L 139.0749053955078 115.0007095336914 Z">
									</path>
								</clipPath>
							</defs>
							<image 
									width="150" 
									height="200"
									y="-50"
									xlink:href="{{this.image}}" 
									clip-path="url(#circleView)"/>
						</svg>
						<div class="allItemsText">
            	<p>{{this.title}}<br>${{this.price}}</p>
         		</div>
					</a>
				</div>
			{{/each}}
		</div>
	</div>
</section>

<style media="screen">
.container{
    width: 800px;
		height: 100%;
    position: relative;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    overflow: hidden;
		border-radius: 8px;
    box-shadow: 10px 25px 30px rgba(0,0,0,0.3);
}
.wrapper{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}
@keyframes slide{
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}
img{
	position: relative;
  bottom: 500px;
	width: 100%;
}

</style>


{{!-- 3d slideshow... --}}
{{!-- https://www.foolishdeveloper.com/2021/08/automatic-image-slider.html --}}