<div>
  <img class="singleItemImage" src="{{data.item.image}}"/>
  <div>
    {{data.item.title}}
  </div>
  <div>
    {{data.item.description}}
  </div>
  <a href="/items">
    <input type="button" value="Return To All Items"/>
  </a>
  {{#if data.user.isAdmin}}
    <a href="/users/{{data.user.username}}/items/{{data.item.id}}/update-item">
      <input type="button" value="Update Item"/>
    </a>
    <form method="POST" action="/users/{{data.user.username}}/items/{{data.item.id}}/?method=DELETE">
        <input type="submit" value="Delete Item"/>
    </form>
  {{/if}}
</div>