<section>
    {{#if data.user.isAdmin}}
      <div class="userDiv">
    {{else}}
      <div>
    {{/if}}
    <div class="userDivItem">
      <div>
        <ul class="userList">
          <li>
            <svg height="100" width="100">
              <defs>
                <clipPath id="cut-off-bottom">
                  <circle cx="50" cy="50" r="50" 
                  style="stroke=black; stroke-width=3; fill=#4545a9"/>
                </clipPath>
              </defs>
              <rect width="300" height="100" 
                  style="fill:#8490b3" 
                  clip-path="url(#cut-off-bottom)"/>
              <ellipse cx="50" cy="100" rx="45" ry="45"
                  style="fill:#c9c9c9;" 
                  clip-path="url(#cut-off-bottom)"/>
              <ellipse cx="50" cy="32" rx="25" ry="30"
                  style="fill:#c9c9c9; stroke:#8490b3; stroke-width:5" 
                  clip-path="url(#cut-off-bottom)"/>
            </svg>
          </li>
          <li class="userFullName">
            {{data.user.fullName}}
          </li>
          <li class="userInfo">
            {{data.user.username}}
          </li>
          <li class="userInfo">
            {{data.user.email}}
          </li>
          <li class="userButtons">
            <form action="/homepage" method="GET">
                <input class="userButtonText" type="submit" value="Log Out"/>
            </form>
          </li>
          <li class="userButtons">
            <form action="/users/{{data.user.username}}/update-account" method="GET">
                <input class="userButtonText" type="submit" value="Update Profile"/>
            </form>
          </li>
          <li class="userButtons">
            {{!-- alert banner with account deletion on homepage --}}
            <form action="/users/{{data.user.username}}/delete-profile" method="POST">
                <input class="userButtonText" type="submit" value="Delete Profile"/>
            </form>
          </li>
          <li class="userButtons">
            <form action="/homepage/{{data.user.username}}" method="GET">
              <input class="userButtons" type="submit" value="Return To Homepage"/>
              </form>
          </li>
          {{#if data.user.isAdmin}}
            <li class="userButtons">
              <form action="/users/{{data.user.username}}/create-item" method="GET">
                <input class="userButtonText" type="submit" value="Create New Item"/>
              </form>
            </li>
          {{/if}}
        </ul>
      </div>
  </div>
  {{#if data.adminItems}}
    <div class="userDivItem">
      <p class="adminScrollTitleText">
        Items You Own
      </p>
      <div class="adminItemScroll">
        <div class="adminScrollGrid">
          {{#each data.adminItems}}
            <div class="adminScrollGridItem">
              <a href="/users/{{../data.user.username}}/items/{{this.id}}/">
                <img class="adminItemImage" src="{{this.image}}" title="Click Here To View Options"/>
              </a>
              <div class="adminItemText">
                {{this.title}}
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div>
  {{/if}}
</section>