<section>
  <div>
    {{data.user.fullName}}
  </div>
  <div>
    {{data.user.username}}
  </div>
  <div>
    {{data.user.email}}
  </div>
  {{#if data.items}}
    <div class="grid-container">
      {{#each data.items}}
        <div class="grid-item">
          <a href="/items/{{this.id}}/">
            <img class="allItemsImage" src="{{this.image}}" title="Click Here To View Options"/>
          </a>
          <div class="allItemsText">
            {{this.title}}
          </div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  <a href="/homepage/{{data.user.username}}">
    <input type="button" value="Return To Homepage"/>
  </a>
</section>